@import "partials/bootstrap";
@import "compass";

body { background-color: fff; }

#content {
  margin-top: 50px; 
}

footer {
  ul, li {
    list-style: none;
  }
  li {
    @include inline-block();
  }
}

.pagination {
  margin-top: 30px;
  list-style: none;
  li {
    display: inline-block;
    .btn {
      border: 1px solid #000;
    }
  }
}

.wrapper {
  @include box-sizing(border-box);
  padding: 3em;
  padding-top: 0;
}

.bar {
  display: inline-block;
  margin-right: 2px;
  width: 20px;
  height: 75px;   /* We'll override this later */
  background-color: teal;
}

.month{
    clear:both;
    display:inline-block;
    margin-right: 20px;
}
.day{
/*            display:inline-block;*/
  float:left;
  width:20px;
  height:20px;
  margin-left: 3px;
  text-align: center;
  p {
    margin: 0;
    padding: 0;
  }
}
div.week-Sun{
    clear:both;
/*            display:block;*/
}
div.week-Mon{
/*            clear:left;*/
}