doctype html
html(ng-app="demo")
  head
    meta(charset="utf-8")
    base(href="/")
    title Nuclear Data
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet" href="/static/application.css")
    script(type="text/javascript")
    script(type="text/javascript" src="//www.google.com/jsapi")
    script(type="text/javascript" src="/static/application.js")
  body
    include partials/header
    div#content
      div.container(role="main")
        h1 Nuclear Data Here

        div
          #aec-chart(style="float: left; width: 50%;")

          #tai-chart(style="float: left; width: 50%;")

        form(ng-controller="LineChartFormCtrl as formCtrl")
          div(style="display:inline-block;" ng-repeat="plant in formCtrl.plants")
            input(type="checkbox" checklist-model="query.plants" checklist-value="plant")
            label {{ plant.name }}

          //- div(style="display:inline-block;")
            //- select(ng-repeat="type in types" ng-model="filter.type")
        #cal-wrapper(ng-controller="CalenderCtrl")
          ul.pagination
            li
              a.btn(ng-click="calYear=2010") 2010
            li
              a.btn(ng-click="calYear=2011") 2011
            li
              a.btn(ng-click="calYear=2012") 2012
            li
              a.btn(ng-click="calYear=2013") 2013
            li
              a.btn(ng-click="calYear=2014") 2014
          .wrapper(ng-init="calYear=2013" generate-cal data-year="{{calYear}}")

    include partials/footer